body {
    text-align: center;
    background-color: #f1f3f6;
    font-family: Arial, sans-serif;
}



header{
    margin-bottom: 20px;
    background-color: #333;
    padding: 15px;
}


h1 {
    color: #333;
      margin-bottom: 20px;
}

nav{
   margin-bottom: 15px;
}


nav a {
    margin: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;

    transition: 0.3s;
    display: inline-block;
}

nav a:hover{
    color: #00bfff;
    transform: scale(1.1);
}



img{
    border-radius: 10px;}

main {
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 20px;
    border-radius:10px ;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }


main:hover{
    transform: translateY(-2px);
    transition: 0.3s;
}

button {
       background-color: #00bfff;
       color: white;
       border: none;
       padding: 12px 25px;
       border-radius:  8px;
       cursor: pointer;
       transition: 0.3s;
     
       box-shadow: 0px 4px 8px rgba(0, 0,0, 0.2);
    }

button:hover {
    background-color: #009acd;
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

input,textarea {
       padding: 10px;
       width: 80%;
       border-radius: 5px;
       border: 1px solid #ccc;}

textarea{
    resize: vertical;
}















@media (max-width: 600px) {


    nav a {

        display: block;
        margin: 10px 0;
 }
    
    main{
        width:90%;
    
    }
}